$white:          #fff;
$grey-lightest:  #f2f5f7;
$grey-lighter:   #dadcdf;
$grey-light:     #a1a5a9;
$grey:           #74787d;
$grey-dark:      #47484a;
$grey-darker:    #2e2e2e;
$grey-darkest:   #1a1a1a;
$black:          #000;
$orange-lighter: #feddb7;
$orange-light:   #fdbe77;
$orange:         #ff8c00;
$orange-dark:    #e67812;
$orange-darker:  #d66000;

// // brand colours
$m-blue:           #27509b;
$m-blue-lighest:   #edefee;
$m-yellow:         #fce500;
$m-white:          #faf9f9;
$m-darkblue-light: #2f4e7c;
$m-darkblue:       #2f4059;
$m-darkblue-dark:  #222f43;