<div class="banner">
  <div class="site-header__offset"></div>
  <div class="banner__bg" style="background-image: url('{{site.img}}/content/{{page.id}}/bg.jpg')"></div>
  <div class="banner__wrap">
    {% if page.banner.content %}
      {{page.banner.content | liquify}}
    {% else %}
      <div class="container container--no-padding text--center">
        {% if page.banner.title-sup %}<h2 class="banner-title-sub">{{page.banner.title-sup}}</h2> <div class="space--xs"></div> {% endif %}
        <h1 class="banner-title{% if page.id == "overview" %} banner-title--overview{% endif %}">{% if page.banner.title %}{{page.banner.title}}{% else %}{{page.title}}{% endif %}</h1>
        {% if page.banner.title-sub %}<h2 class="banner-title-sub">{{page.banner.title-sub}}</h2>{% endif %}
        {% if page.id == "overview" %}
          <div class="banner-partnership-message">In association with&nbsp; <img src="{{site.img}}/michelin-stacked-logo.png" alt="Michelin logo"></div>
        {% endif %}
      </div>
    {% endif %}
  </div>
  <div class="banner__nav">
    {% include nav/site.html %}
  </div>
  <div class="site-nav__offset"></div>
</div>