<div class="vpad--xxxxl bg--img text--white bg--dark" style="background-image: url('{{site.img}}/content/promo-campaign-bg.jpg');">
  <div class="container">
    <div class="width--lg">
      <h2 class="title title--xxl">Have you checked your tyres?</h2>
      <p class="text--xxl text--normal vpad--xxs">Don’t embark on your road trip without checking the health of your tyres; after all, they’ll be the only thing keeping you planted on these spectacular yet demanding roads. Discover how Michelin can be your travel companion and improve the safety and performance of your getaway – with unmissable foodie stops planned in...</p>
      <div class="space--sm"></div>
      <a href="{{site.baseurl}}/michelin" class="btn btn--yellow">Discover More</a>
    </div>
  </div>
</div>