// general styles for the project that wouldn't be a reuseable component

.border {
  border-bottom: 4px solid $m-blue;
}

.caption {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .25rem;
  font-weight: 400;
  font-size: $s-1;
  color: $grey-dark;
  padding: $s-2;
  border-bottom: 1px solid $grey-lighter;
}

.banner-partnership-message {
  font-family: $font-title-01;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .33rem;
  line-height: 1.33;
  margin-top: $s-2;
  img {
    max-width: 100px;
    display: block;
    margin-top: $s1;
    margin-left: auto;
    margin-right: auto;
    @include bp($sm) {
      display: inline-block;
      margin-top: 0;
    }
  }
  font-size: $s-2;
  @include bp($md){ font-size: $s-1; }
  @include bp($lg){ font-size: $s0; letter-spacing: .5rem; }
  @include bp($xl){ font-size: $s1; }
}

// special map thumbnail link on category pages
.map-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-content;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  &__bg-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-upper;
    @include transition;
    @include background-attributes;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-upper;
    background-color: rgba($m-darkblue,.15);
    @include transition;
  }
  &__btn { z-index: $z-overlay; }
  // mouse hover over style
  .no-touch &:hover &__bg-img { transform: scale(1.05); }
  .no-touch &:hover &__bg { background-color: rgba($m-darkblue,.25); }
  .no-touch &:hover &__btn { transform: scale(1.15); }
}

// banner background images
.overview .banner__bg {
  background-image: url('../img/content/overview/bg-mobile.jpg');
  @include bp($xxl) { background-image: url('../img/content/overview/bg.jpg'); }
}
.mountain .banner__bg {
  background-image: url('../img/content/mountain/bg-mobile.jpg');
  @include bp($xxl) { background-image: url('../img/content/mountain/bg.jpg'); }
}
.country .banner__bg {
  background-image: url('../img/content/country/bg-mobile.jpg');
  @include bp($xxl) { background-image: url('../img/content/country/bg.jpg'); }
}
.coast .banner__bg {
  background-image: url('../img/content/coast/bg-mobile.jpg');
  @include bp($xxl) { background-image: url('../img/content/coast/bg.jpg'); }
}
.michelin .banner__bg { background-image: url('../img/content/michelin/bg.jpg'); }
.offers .banner__bg { background-image: url('../img/content/offers/bg.jpg'); }
.competition .banner__bg { background-image: url('../img/content/competition/bg.jpg'); }

.no-break { white-space: nowrap; }