<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body{% if page.id == "overview" %} class="overview"{% endif %}>

    {% include components/tracking.html %}

    {% include page/header.html %}

    {% include page/banner.html %}

    <div class="content-spacing section-spacing">
      {{ content }}
    </div>

    {% unless page.id == 'offers' or page.id == 'michelin' %}
      {% include page/promo-campaign.html %}
    {% endunless %}

    {% include page/footer.html %}

    {% if layout.map %}
      {% include modal/map.html %}
    {% endif %}

    {% include modal/modal.html %}

  </body>

</html>