<!-- loop through all of the resturants on page -->
{% for restaurant in page.restaurants %}
  <div class="modal modal--restaurant is-closed" data-modal-id="{{restaurant.id}}">
    <div class="js-close-modal modal__close"></div>
    <div class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/{{page.id}}/restaurants/{{restaurant.id}}.jpg');">
      <a id="track-map-restaurant-img-{{restaurant.id}}" href="{{restaurant.link}}" class="bg-img__link"></a>
    </div>
    <div class="modal__content">
      <h3 class="title title--md">{{restaurant.title}}</h3>
      <h4 class="title vpad--xxs">
        {% if restaurant.rating == "one-star" %}
          One MICHELIN Star
        {% elsif restaurant.rating == "plate" %}
          The MICHELIN Plate
        {% endif %}
      </h4>
      <p>{{restaurant.description}}</p>
      <div class="space--sm"></div>
      <a id="track-map-restaurant-btn-{{restaurant.id}}"  href="{{restaurant.link}}" class="btn btn--outline btn--outline-blue btn--xs">Find Out More</a>
    </div>
  </div>
{% endfor %}

